<template>
  <div id="app">
    <img src="./assets/logo.png">
    <router-view/>
  </div>
</template>

<style lang="scss">
// Import Font Awesome
$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

// Import Bootstrap
@import './styles/custom-bootstrap.scss';
@import '~bootstrap/scss/bootstrap.scss';
</style>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
